################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/AwsCloudNative.*/obj*
/src/AwsCloudNative.*/bin*
*.http
/src/Secret*
